
#root{
  background: linear-gradient( rgb(67, 67, 237),rgb(2, 88, 109),rgb(9, 9, 204));
  width: 100%;
  height: auto;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  background-color: aquamarine;
  border-radius: 15px 0;
  border:solid 1px black;
  width:25%;
  height: auto;
  padding: 1% ;
  margin: 10px 0;
  text-align: center;
}
button{
  width: 30%;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
}
.verde{
  background-color: rgb(39, 210, 39);
}
.rojo{
  background-color: red;
}
.artcarrito{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  color:black;
  
}
